body
{
    font-size: 1.2em;
}

form
{
    width: 400px;
    text-align: right;
}

label
{
    display: block;
}

h1
{
    border-bottom: 2px solid black;
    text-align: left;
}

td
{
    text-align: center;
}

.table
{
    width: 800px;
    border: 1px solid black;
}

input
{
    width: 225px;
    margin: 5px;
}

input[type=submit]
{
    width: auto;
}